@use '../util' as *;

.guess.blocked{
  .guess__tile{
    background-color: var(--blocked);
    border: rem(4) solid  var(--blocked);
  }
}

.guess{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: rem(3);
  width: rem(300);
  margin-bottom: rem(10);

  &__tile{
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(52);
    height: rem(52);

    border: rem(4) solid #4C4347;
    border-radius: 10%;
    
    font-size: rem(32);
    cursor: pointer;
  }

  .current-letter{
    outline: 0;
    border-bottom: rem(7) solid #4C4347;
  }

  .correct{
    background-color: var(--correct);
    border-color: var(--correct);
  }

  .present{
    background-color: var(--present);
    border-color: var(--present);
  }

  .absent{
    background-color: var(--absent);
    border-color: var(--absent);
  }
}