@use '../util' as *;

.msg{
  color: var(--font-color);
  padding: 0.4em 1.5em;
  border-radius: rem(4);
  z-index: 20000;
  margin-bottom: rem(32);

  &.default{
    background-color: var(--msg-default);
  }
}